.screening-item-title-box {
  min-width: 15vw;
}

.screening-item-title {
  font-weight: bolder;
  margin-right: 10px;
}

.screening-item-duration {
  font-style: italic;
}

.screening-item-label {
  margin-right: 50px;
  color: indigo;
  font-weight: bold;
}
