.t-box {
    padding: 30px;
}

.t-label {
    margin-bottom: 10px;
}

.t-seats-panel {
    margin: 20px 0 20px 0;
}

.t-selected-seat {
    border: solid 2px indigo;
    border-radius: 10px;
    padding: 5px;
    margin: 10px 10px 10px 0;
}