.add-screening-main {
  background-color: lightgrey;
  padding: 15px;
  height: 80px;
  border-radius: 25px;
}

.adding-screening-label {
  margin-left: 20px;
}

.add-screening-label {
  margin-right: 30px;
  font-weight: bold;
}

.add-screening-field {
  margin-right: 10vw;
}
