.movie-form-card {
  width: 100vw;
  padding: 0 1vw 0 0;
}

.movie-form-field {
  width: 100%;
  margin-top: 15px;
}

.poster-form-field {
  width: 100%;
  margin: 15px 0 0 1vw;
}

.poster-img {
  width: 4vw;
}

.movie-button {
  margin-top: 15px;
}

.mat-card {
  box-shadow: none;
}

.form-desc-label {
  color: grey;
  margin-right: 5px;
  font-weight: bold;
}
