.navbar-logo {
  margin-right: 10px;
}

.navbar-app-title {
  margin-right: 10px;
}

.spacer {
  flex: 1 1 auto;
}

.username {
  font-style: italic;
}

.admin-toolbar {
  background-color: gray;
  display: flex;
  align-items: center;
  justify-content: center;
}
