.sign-up-panel {
  margin-top: 5%;
}

.sign-up-form-field {
  width: 30vw;
  margin-top: 15px;
}

.sign-up-button {
  margin-top: 15px;
}

.mat-card {
  box-shadow: none;
}

.sign-up-spinner {
  margin: 5px;
}